.post--padding {
  padding: 0 12%
}
.post__title {
  font-size: 3.2em;
  font-weight: 900;
  line-height:1.2;
  margin-bottom: 50px;
}
.post__author {
  margin-bottom: 50px;
  color: #666;
}
.post__image-cover {
  border-radius: 10px;
  width: 85%;
  margin: auto
}
.post__header {
  margin-bottom: 50px;
}
.page__container {
  background-color: #f7f8f9;
}
.page-detail__header {
  max-width: 800px;
  margin: 0 auto;
}
.page-detail__title {
  font-size: 3.2em;
}
.code-block__block {
  position: relative;
}
.code-block__copy-func {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
  color: #bcbcbc;
  cursor: pointer;
}
.code-block__copy-func:hover {
  color: #fff;
}